<ul id="pick-my-brain"
    data-calibrate-x="true" data-calibrate-y="true" data-scalar-x="1" data-scalar-y="3"
    data-limit-x="20" data-limit-y="20" data-invert-x="false" data-invert-y="false">
  <li data-depth="0.30" class="layer">
    <img id="full-slime-dim-1" src="/assets/images/pick-my-brain/full-slime-dim-1.png"/>
    <img id="full-slime-dim-2" src="/assets/images/pick-my-brain/full-slime-dim-1.png"/>
  </li>
  <li data-depth="0.50" class="layer">
    <img id="full-slime-bright-1" src="/assets/images/pick-my-brain/full-slime-bright-1.png"/>
    <img id="full-slime-bright-2" src="/assets/images/pick-my-brain/full-slime-bright-1.png"/>
  </li>
  <li data-depth="0.20" class="layer">
    <img id="top-slime-2" src="/assets/images/pick-my-brain/top-slime-2.png"/>
  </li>
  <li data-depth="0.70" class="layer">
    <img id="top-slime-1" src="/assets/images/pick-my-brain/top-slime-1.png"/>
  </li>
  <li data-depth="1.00" class="layer">
    <div id="image-container">
      <img class="big-logo" src="/assets/images/pick-my-brain/logo.png"/>

      <div class="caption">
        Sexy design, heavy metal and marshmellow latte
      </div>
    </div>
  </li>
</ul>
